<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RoundhouseParams - FAKE - F# Make</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Steffen Forkmann, Mauricio Scheffer, Colin Bull">

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="http://fsharp.github.io/FAKE/content/style.css" />
    <script type="text/javascript" src="http://fsharp.github.io/FAKE/content/tips.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://fsharp.org">fsharp.org</a></li>
          <li><a href="http://github.com/fsharp/fake">github page</a></li>
        </ul>
        <h3 class="muted"><a href="http://fsharp.github.io/FAKE/index.html">FAKE - F# Make</a></h3>
      </div>
      <hr />
      <div class="row">
        <div class="span9" id="main">
          



<h1>RoundhouseParams</h1>
<div class="xmldoc">
<p>Parameter type to configure the RoundhousE runner</p>

</div>
  <h3>Record Fields</h3>
  <table class="table table-bordered member-list">
    <thead>
      <tr><td>Record Field</td><td>Description</td></tr>
    </thead>
    <tbody>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2176', 2176)" onmouseover="showTip(event, '2176', 2176)">
            AlterDatabaseFolderName
          </code>
          <div class="tip" id="2176">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L72-72" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your alter database scripts. Read up on token replacement. You will want to use {{DatabaseName}} here instead of specifying a database name.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2177', 2177)" onmouseover="showTip(event, '2177', 2177)">
            CommandTimeout
          </code>
          <div class="tip" id="2177">
            <strong>Signature:</strong> int<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L27-27" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This is the timeout when commands are run. This is not for admin commands or restore.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2178', 2178)" onmouseover="showTip(event, '2178', 2178)">
            CommandTimeoutAdmin
          </code>
          <div class="tip" id="2178">
            <strong>Signature:</strong> int<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L30-30" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This is the timeout when administration commands are run (except for restore, which has its own).</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2179', 2179)" onmouseover="showTip(event, '2179', 2179)">
            ConnectionString
          </code>
          <div class="tip" id="2179">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L21-21" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>As an alternative to ServerName and Database - You can provide an entire connection string instead.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2180', 2180)" onmouseover="showTip(event, '2180', 2180)">
            ConnectionStringAdmin
          </code>
          <div class="tip" id="2180">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L24-24" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This is used for connecting to master when you may have a different uid and password than normal.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2181', 2181)" onmouseover="showTip(event, '2181', 2181)">
            CustomCreateScript
          </code>
          <div class="tip" id="2181">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L51-51" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This instructs RH to use this script for creating a database instead of the default based on the SQLType.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2182', 2182)" onmouseover="showTip(event, '2182', 2182)">
            DatabaseName
          </code>
          <div class="tip" id="2182">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L12-12" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The database you want to create/migrate.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2183', 2183)" onmouseover="showTip(event, '2183', 2183)">
            DatabaseType
          </code>
          <div class="tip" id="2183">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L33-33" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Database Type (fully qualified class name implementing [roundhouse.sql.Database, roundhouse])</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2184', 2184)" onmouseover="showTip(event, '2184', 2184)">
            Drop
          </code>
          <div class="tip" id="2184">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L57-57" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This instructs RH to remove a database and not run migration scripts.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2185', 2185)" onmouseover="showTip(event, '2185', 2185)">
            Environment
          </code>
          <div class="tip" id="2185">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L48-48" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This allows RH to be environment aware and only run scripts that are in a particular environment based on the namingof the script. LOCAL.something<strong>.ENV.</strong>sql would only be run in the LOCAL environment.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2186', 2186)" onmouseover="showTip(event, '2186', 2186)">
            FunctionsFolderName
          </code>
          <div class="tip" id="2186">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L87-87" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your functions.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2187', 2187)" onmouseover="showTip(event, '2187', 2187)">
            IndexesFolderName
          </code>
          <div class="tip" id="2187">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L96-96" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your indexes.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2188', 2188)" onmouseover="showTip(event, '2188', 2188)">
            OutputPath
          </code>
          <div class="tip" id="2188">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L36-36" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Output path. Path to where migration artifacts are stored.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2189', 2189)" onmouseover="showTip(event, '2189', 2189)">
            PermissionsFolderName
          </code>
          <div class="tip" id="2189">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L102-102" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your permissions scripts.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2190', 2190)" onmouseover="showTip(event, '2190', 2190)">
            RepositoryPath
          </code>
          <div class="tip" id="2190">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L45-45" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Path to code repository to be able to correlate versions</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2191', 2191)" onmouseover="showTip(event, '2191', 2191)">
            Restore
          </code>
          <div class="tip" id="2191">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L66-66" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This instructs RH to do a restore (with the restorefrompath parameter) of a database before running migration scripts.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2192', 2192)" onmouseover="showTip(event, '2192', 2192)">
            RestoreFilePath
          </code>
          <div class="tip" id="2192">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L54-54" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>File path of back when Restore is set to true</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2193', 2193)" onmouseover="showTip(event, '2193', 2193)">
            RunAfterCreateDatabaseFolderName
          </code>
          <div class="tip" id="2193">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L75-75" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you will keep scripts that ONLY run after a database is created.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2194', 2194)" onmouseover="showTip(event, '2194', 2194)">
            RunAfterOtherAnyTimeScriptsFolderName
          </code>
          <div class="tip" id="2194">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L99-99" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep scripts that will be run after all of the other any time scripts complete.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2195', 2195)" onmouseover="showTip(event, '2195', 2195)">
            RunBeforeUpFolderName
          </code>
          <div class="tip" id="2195">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L78-78" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep scripts that you want to run before your update scripts.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2196', 2196)" onmouseover="showTip(event, '2196', 2196)">
            RunFirstAfterUpdateFolderName
          </code>
          <div class="tip" id="2196">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L84-84" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep any functions, views, or sprocs that are order dependent. If you have a function that depends on a view, you definitely need the view in this folder.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2197', 2197)" onmouseover="showTip(event, '2197', 2197)">
            SchemaName
          </code>
          <div class="tip" id="2197">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L117-117" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The schema where RH stores it's tables</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2198', 2198)" onmouseover="showTip(event, '2198', 2198)">
            ServerDatabase
          </code>
          <div class="tip" id="2198">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L18-18" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The server and instance you would like to run on. (local) and (local)\SQL2008 are both valid values.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2199', 2199)" onmouseover="showTip(event, '2199', 2199)">
            Silent
          </code>
          <div class="tip" id="2199">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L69-69" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Tells RH not to ask for any input when it runs.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2200', 2200)" onmouseover="showTip(event, '2200', 2200)">
            Simple
          </code>
          <div class="tip" id="2200">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L60-60" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This instructs RH to set the database recovery mode to simple recovery. Only works with SqlServer.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2201', 2201)" onmouseover="showTip(event, '2201', 2201)">
            SprocsFolderName
          </code>
          <div class="tip" id="2201">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L93-93" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your stored procedures.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2202', 2202)" onmouseover="showTip(event, '2202', 2202)">
            SqlFilesDirectory
          </code>
          <div class="tip" id="2202">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L15-15" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The directory where your SQL scripts are.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2203', 2203)" onmouseover="showTip(event, '2203', 2203)">
            TimeOut
          </code>
          <div class="tip" id="2203">
            <strong>Signature:</strong> TimeSpan<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L114-114" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>A timeout for the runner.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2204', 2204)" onmouseover="showTip(event, '2204', 2204)">
            ToolPath
          </code>
          <div class="tip" id="2204">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L108-108" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>FileName of the Roundhouse runner.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2205', 2205)" onmouseover="showTip(event, '2205', 2205)">
            UpFolderName
          </code>
          <div class="tip" id="2205">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L81-81" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your update scripts.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2206', 2206)" onmouseover="showTip(event, '2206', 2206)">
            VersionFile
          </code>
          <div class="tip" id="2206">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L39-39" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Path to the file to use for versioning. Either a .XML file, a .DLL or a .TXT file that a version can be resolved from.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2207', 2207)" onmouseover="showTip(event, '2207', 2207)">
            VersionXPath
          </code>
          <div class="tip" id="2207">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L42-42" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Works in conjunction with an XML version file.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2208', 2208)" onmouseover="showTip(event, '2208', 2208)">
            ViewsFolderName
          </code>
          <div class="tip" id="2208">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L90-90" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>The name of the folder where you keep your views.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2209', 2209)" onmouseover="showTip(event, '2209', 2209)">
            WarnOnOneTimeScriptChanges
          </code>
          <div class="tip" id="2209">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L105-105" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Instructs RH to execute changed one time scripts (DDL/DML in Up folder) that have previously been run against the database instead of failing. A warning is logged for each one time scripts that is rerun.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2210', 2210)" onmouseover="showTip(event, '2210', 2210)">
            WithTransaction
          </code>
          <div class="tip" id="2210">
            <strong>Signature:</strong> bool<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L63-63" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>This instructs RH to run inside of a transaction.</p>


        </td>
      </tr>
      <tr>
        <td class="member-name">

          <code onmouseout="hideTip(event, '2211', 2211)" onmouseover="showTip(event, '2211', 2211)">
            WorkingDir
          </code>
          <div class="tip" id="2211">
            <strong>Signature:</strong> string<br />
                      </div>
        </td>
        <td class="xmldoc">
            <a href="https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/RoundhouseHelper.fs#L111-111" class="github-link">
              <img src="../content/img/github.png" class="normal" />
              <img src="../content/img/github-blue.png" class="hover" />
            </a>
          <p>Working directory (optional).</p>


        </td>
      </tr>
    </tbody>
  </table>

        </div>
        <div class="span3">
          <a href="http://fsharp.github.io/FAKE/index.html">
            <img src="http://fsharp.github.io/FAKE/pics/logo.png" style="width:140px;height:140px;margin:10px 0px 0px 35px;border-style:none;" />
          </a>

          <ul class="nav nav-list" id="menu">

            <li class="nav-header">FAKE - F# Make</li>

            <li class="divider"></li>
            <li><a href="http://fsharp.github.io/FAKE/index.html">Home page</a></li>
            <li class="divider"></li>

            <li><a href="https://www.nuget.org/packages/FAKE">Get FAKE - F# Make via NuGet</a></li>
            <li><a href="http://github.com/fsharp/fake">Source Code on GitHub</a></li>
            <li><a href="http://github.com/fsharp/fake/blob/master/License.txt">License (Apache 2)</a></li>
            <li><a href="http://fsharp.github.io/FAKE/RELEASE_NOTES.html">Release Notes</a></li>
            <li><a href="http://fsharp.github.io/FAKE//contributing.html">Contributing to FAKE - F# Make</a></li>
            <li><a href="http://fsharp.github.io/FAKE/users.html">Who is using FAKE?</a></li>
            <li><a href="http://stackoverflow.com/questions/tagged/f%23-fake">Ask a question</a></li>
            <li class="nav-header">Tutorials</li>
            <li><a href="http://fsharp.github.io/FAKE/gettingstarted.html">Getting started</a></li>
            <li><a href="http://fsharp.github.io/FAKE/cache.html">Build script caching</a></li>
            <li class="divider"></li>
            <li><a href="http://fsharp.github.io/FAKE/nuget.html">NuGet package restore</a></li>
            <li><a href="http://fsharp.github.io/FAKE/fxcop.html">Using FxCop in a build</a></li>
            <li><a href="http://fsharp.github.io/FAKE/assemblyinfo.html">Generating AssemblyInfo</a></li>
            <li><a href="http://fsharp.github.io/FAKE/create-nuget-package.html">Create NuGet packages</a></li>
            <li><a href="http://fsharp.github.io/FAKE/specifictargets.html">Running specific targets</a></li>
            <li><a href="http://fsharp.github.io/FAKE/commandline.html">Running FAKE from command line</a></li>
            <li><a href="http://fsharp.github.io/FAKE/parallel-build.html">Running targets in parallel</a></li>
            <li><a href="http://fsharp.github.io/FAKE/fsc.html">Using the F# compiler from FAKE</a></li>
            <li><a href="http://fsharp.github.io/FAKE/customtasks.html">Creating custom tasks</a></li>
            <li><a href="http://fsharp.github.io/FAKE/soft-dependencies.html">Soft dependencies</a></li>
            <li><a href="http://fsharp.github.io/FAKE/teamcity.html">TeamCity integration</a></li>
            <li><a href="http://fsharp.github.io/FAKE/canopy.html">Running canopy tests</a></li>
            <li><a href="http://fsharp.github.io/FAKE/octopusdeploy.html">Octopus Deploy</a></li>
            <li><a href="http://fsharp.github.io/FAKE/typescript.html">TypeScript support</a></li>
            <li><a href="http://fsharp.github.io/FAKE/azurewebjobs.html">Azure WebJobs support</a></li>
            <li><a href="http://fsharp.github.io/FAKE/azurecloudservices.html">Azure Cloud Services support</a></li>
            <li><a href="http://fsharp.github.io/FAKE/fluentmigrator.html">FluentMigrator support</a></li>
            <li><a href="http://fsharp.github.io/FAKE/androidpublisher.html">Android publisher</a></li>
            <li><a href="http://fsharp.github.io/FAKE/watch.html">File Watcher</a></li>
            <li><a href="http://fsharp.github.io/FAKE/wix.html">WiX Setup Generation</a></li>
            <li><a href="http://fsharp.github.io/FAKE/chocolatey.html">Using Chocolatey</a></li>
            <li><a href="http://fsharp.github.io/FAKE/slacknotification.html">Using Slack</a></li>
            <li><a href="http://fsharp.github.io/FAKE/sonarcube.html">Using SonarQube</a></li>
            <li class="divider"></li>
            <li><a href="http://fsharp.github.io/FAKE/deploy.html">Fake.Deploy</a></li>
            <li><a href="http://fsharp.github.io/FAKE/iis.html">Fake.IIS</a></li>
            <li class="nav-header">Reference</li>

            <li><a href="http://fsharp.github.io/FAKE/apidocs/index.html">API Reference</a></li>
          </ul>
        </div>
      </div>
    </div>
    <a href="http://github.com/fsharp/fake"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </body>
  </html>
